.fourohfour {
  text-align: center;
  padding: 8em 0;
}

.fourohfour h1 {
  margin: 0;
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  background: #aaa;
  display: inline-block;
  padding: 0 20px;
}

.fourohfour h2 {
  color: #888;
  font-size: 1.66em;
  font-weight: 400;
}

.fivehundred {
  text-align: center;
  padding: 8em 0;
}

.fivehundred h1 {
  margin: 0;
  color: #444;
  font-size: 3em;
  font-weight: 400;
}

.fivehundred h2 {
  color: #888;
  font-size: 1.66em;
  font-weight: 400;
}

.fivehundred pre {
  text-align: left;
  padding: 1em;
  background: #eee;
  border-radius: 5px;
  font-size: 1.66em;
  font-weight: 100;
  color: #888;
  overflow: auto;
}
