.fourohfour {
    text-align: center;
    padding: 3em 0;
}

.fourohfour h1 {
    margin: 0;
    color: darkgray;
    font-size: 5em;
}

.fourohfour h2 {
    margin: 0;
    color: dimgray;
    font-size: 1.66em;
}
